//----------------------------------------------------
// / COLOR PATTERN
//----------------------------------------------------

%ex-color-pattern{
  //----------------------------------------------------
  // / Dark Text
  //----------------------------------------------------

  @each $key, $value in $pattern-color-dark {
    &.is-text-#{$key},&.op-text-#{$key} {
      color: $value;
    }
    &.is-bg-#{$key},&.op-bg-#{$key} {
      background-color: $value;
    }
  }

  //----------------------------------------------------
  // / Light Text
  //----------------------------------------------------

  @each $key, $value in $pattern-color-light {
    &.is-text-#{$key},&.op-text-#{$key} {
      color: $value;
    }
    &.is-bg-#{$key},&.op-bg-#{$key} {
      background-color: $value;
    }

  }

  //----------------------------------------------------
  // / Theme Color Text
  //----------------------------------------------------

  @each $key, $value in $pattern-color-theme {
    &.is-text-#{$key},&.op-text-#{$key} {
      color: $value;
    }
    &.is-bg-#{$key},&.op-bg-#{$key} {
      background-color: $value;
    }
  }

  //----------------------------------------------------
  // / $pattern-color-social
  //----------------------------------------------------

  @each $key, $value in $pattern-color-social {
    &.is-text-#{$key},&.op-text-#{$key} {
      color: $value;
    }
    &.is-bg-#{$key},&.op-bg-#{$key} {
      background-color: $value;
    }
  }
}

