//----------------------------------------------------
// / Config - Button Color
//----------------------------------------------------
//breakpointサイズ
//breakpointが１つしかない場合’brk’を使用しています。
$breakpoints: (
        'brk': 'screen and (max-width: 768px)',
        'sp': 'screen and (max-width: 400px)',
        'tb': 'screen and (max-width: 768px)',
        'pc': 'screen and (min-width: 769px)',
) !default;


//----------------------------------------------------
// / Config - Button Color
//----------------------------------------------------

$body-text-color:$dark-2 !default;

// .btns > .btn
$btns-gap-default: 0.5em !default;

// .btn
$btn-padding: 0.5em 1em !default;
$btn-border-width: 1px !default;
$btn-border-radius: 0.1875em !default;
$btn-line-height: 1.5 !default;
$btn-transition: ease-out 0.12s !default;

// .btn.is-round
$btn-round-border-radius: 999em !default;

// .btn.is-circle
$btn-circle-width: calc(2.5em + 1px * 2) !default;
$btn-circle-height: calc(2.5em + 1px * 2) !default;
$btn-circle-border-radius: 999em !default;

// .btn.is-floating
$btn-floating-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24) !default;
$btn-floating-hover-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.24) !default;

// .btn.is-plain
$btn-plain-default-background-color: $grey-100 !default;
$btn-plain-default-hover-background-color: darken($grey-100, 5%) !default;

// .btn.is-melt
$btn-melt-default-hover-background-color: $dark-9 !default;

// .btn.is-outline
$btn-outline-default-background-color: $light !default;
$btn-outline-default-hover-background-color: darken($light, 5%) !default;
$btn-outline-default-border-color: $dark-7 !default;

// .btn.is-ghost
$btn-ghost-default-border-color: $light !default;
$btn-ghost-default-text-color: $light !default;
$btn-ghost-default-hover-background-color: $light !default;
$btn-ghost-default-hover-text-color: $dark-2 !default;

// .btn.is-disable
$btn-disable-background-color: $grey-400 !default;
$btn-disable-background-color-alpha: $dark-6 !default;
$btn-disable-text-color: $dark-6 !default;

// .btn.is-ghost.is-disable
$btn-ghost-disable-background-color: $light-8 !default;
$btn-ghost-disable-border-color: $light-4 !default;
$btn-ghost-disable-text-color: $light-4 !default;


